/*user avatar*/
.user-avatar {
  height: 40px;
  width: 40px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #30caa0;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 6px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(34, 156, 124);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  text-align: left;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #006df0;
}

/*==================================================================================*/
/*The register.php for property lookers*/
.registerbtn {
  background-color: #30caa0;
  color: white;
}

.registerbtn:hover {
  background-color: #178d6d;
}

.cancelbtn {
  color: #30caa0;
  background-color: rgb(235, 227, 227);
}

.cancelbtn:hover {
  background-color: white;
}
/*================
login.php for property seekers

============*/

.loginBtn {
  background-color: #30caa0;
  color: white;
}

.loginBtn:hover {
  background-color: #178d6d;
}



/*LOGO*/
.site-logo {
  height: 200px;
  width: 100px;
}
